<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169090091837-nc6j31fsdjsg00hq5sqekhtfgnjfpf1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169090091837-nc6j31fsdjsg00hq5sqekhtfgnjfpf1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBaVc4-oUDs9JCW-H3G3IPyc6XcTnxgeDI</string>
	<key>GCM_SENDER_ID</key>
	<string>169090091837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flairstech.attend</string>
	<key>PROJECT_ID</key>
	<string>flairstracker-290114</string>
	<key>STORAGE_BUCKET</key>
	<string>flairstracker-290114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169090091837:ios:30dd53f7b4089fee5f5354</string>
	<key>DATABASE_URL</key>
	<string>https://flairstracker-290114.firebaseio.com</string>
</dict>
</plist>